<div class="container">
    <div *ngIf="successmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Website</th>
        <th scope="col">Address</th>
        <th scope="col">Edits</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of customerData;let i=index" [contentEditable] = "isEditable[i]">
        <td>{{users.name}}</td>
        <td>{{users.website}}</td>
        <td>{{users.address}}</td>
       
        <td [contentEditable] = "false">
            <button class="edit" (click) = "update(i,customer)" *ngIf = "!isEditable[i]" >Edit</button>
            <button class="delete" (click) = "delete(i,customer)" *ngIf = "!isEditable[i]" >Delete</button>
            <button class="save" (click) = "save(i,customer,row)" *ngIf = "isEditable[i]">Save</button>
            <button class="cancel" (click) = "cancel(i,customer)" *ngIf = "isEditable[i]">Cancel</button>
    </td>
      </tr>
      
    </tbody>
  </table>
</div>














    
 









